p {
	font-family: 'Staatliches', cursive;
	text-align: center;
}

#black {
	background-color: black;
}

#yelling {
	font-size: 300px;
	color: #4F1271;
}

#countdownstart {
	font-size: 48px;
}
#countdown {
	font-size: 28px;
	color: #592941;
}

#shocked {
	font-size: 80px;
	color: #592941;
}

#angry {
	font-size: 400px;
	color: #98473E;
}

#cocky {
	font-size: 36px;
	color: white;
	padding-left: 10%;
	padding-right: 10%;
}

#sad {
	font-size: 14px;
	color: #51D6FF;
}

#remorseful {
	font-size: 10px;
	color: #4F1271;
}

#woah {
	font-size: 300px;
	line-height: 300px;
	opacity: .25;
	color: blue;
	float: left;
	width: 50%;
	position: fixed;

}