body {
	margin-left: 10%;
	margin-right: 10%;
}

h1 {
	font-family: 'Satisfy', cursive;
	font-size: 160px;
	line-height: 160px;
	text-align: center;
}

ol {
	padding: 20px;
}

li {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	padding: 4px;
	text-align: left;
	
}


a {
	background-color: black;
	border: none;
	color: white;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	font-size: 16px;
	transition-duration: 0.4s;
}

a:hover {
	background-color: white;
	color: black;
}

