body {
	margin-left: 10%;
	margin-right: 10%;
}

h1 {
	font-family: 'Satisfy', cursive;
	font-size: 160px;
	line-height: 160px;
	text-align: center;
}

h2 {
	font-family: 'Merriweather', serif;
	size: 54px;
	text-align: center;
}

p {
	font-family: 'Raleway', sans-serif;
	size: 48px;
	line-height: 28px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	padding-top: -10px;
	padding-bottom: 20px;
}

a {
	background-color: black;
	border: none;
	color: white;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	font-size: 16px;
	transition-duration: 0.4s;
}

a:hover {
	background-color: white;
	color: black;
}

