body {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #81D6E3;
}

h1 {
	font-family: 'Satisfy', cursive;
	font-size: 160px;
	line-height: 160px;
	text-align: center;
	color: #B2DDf7;
}

li {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	padding: 4px;
	text-align: left;
	color: #B2DDf7;
}


a {
	background-color: #B2DDf7;;
	border: none;
	color: #81d6e3;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	font-size: 16px;
	transition-duration: 0.4s;
}

a:hover {
	background-color: #81d6e3;
	color: #b2ddf7;
}

