#zero {
  width:400px;
  height:500px;
  border: 1px solid black;
}

.z1 {
	width: 0px;
	height: 350px;
	z-index: 10;
	position: absolute;
	left: 280px;
	top: 100px;
	transform: rotate(20deg);
	border: 3px solid black;
}

.z2 {
	width: 0px;
	height: 100px;
	z-index: 20;
	position: absolute;
	left: 280px;
	top: 40px;
	transform: rotate(100deg);
	border: 3px solid black;
}

.z3 {
	width: 0px;
	height: 350px;
	z-index: 10;
	position: absolute;
	left: 160px;
	top: 100px;
	transform: rotate(20deg);
	border: 3px solid black;
}

.z4 {
	width: 0px;
	height: 100px;
	z-index: 20;
	position: absolute;
	left: 160px;
	top: 400px;
	transform: rotate(100deg);
	border: 3px solid black;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width:400px;
}