p {
	font-family: 'Staatliches', cursive;
	text-align: center;
}

a {
	font-size: 40px;
	color: #fadf63;
	float: right;
	font-family: 'Staatliches', cursive;;
}

#woah {
	font-size: 300px;
	line-height: 240px;
	opacity: .25;
	color: blue;
	float: left;
	float: top;
	width: 50%;
	position: fixed;

}

#black {
	background-color: black;
}

#yelling {
	font-size: 300px;
	line-height: 150px;
	color: #4F1271;
}

#countdownstart {
	font-size: 96px;
}
#countdown {
	font-size: 28px;
	color: #592941;
}

#shocked {
	font-size: 80px;
	color: #592941;
}

#angry {
	font-size: 400px;
	color: #98473E;
}

#cocky {
	font-size: 36px;
	color: white;
	padding-left: 10%;
	padding-right: 10%;
}

#sad {
	font-size: 600px;
	line-height: 150px;
	color: #51D6FF;
}

#sad:hover {
	line-height: 450px;
}

#remorseful {
	font-size: 100px;
	color: #4F1271;
}