#myVideo {
  	position: fixed;
  	right: 0;
  	bottom: 0;
  	min-width: 100%; 
  	min-height: 100%;
  	z-index: -100;

  }

a {
	font-family: "helvetica";
	font-size: 4vw;
	color:red;
}

.quiz {
	text-align: center;
	background-color: blue;
}

.title {
	font-family: "helvetica";
	font-size: 5vw;
	letter-spacing: -3px;
	color: white;
}

.title:hover {
	letter-spacing: -4px;
	color: #E2C044;

}

.header {
	font-family: "helvetica";
	font-size: 4vw;
	letter-spacing: -2px;
}

.list {
	font-family: "helvetica";
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}