body {
  background-image: url("flower.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

img {
	position: fixed;
	float: left;
	top: 2000px
	right 400px;
	z-index: 10;
	width: 80%;
}